h1 {
  margin-top: 3rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

.canvas {
  margin: 3rem auto 0;
  -webkit-box-shadow: 6px 1px 18px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 1px 18px -5px rgba(0, 0, 0, 0.75);
  display: block;
}
